<div class="booyah-box col-10 offset-1">
  <h1>Enter your place details:</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name, placeholder: "Joe's Food Shack" %>
    <%= f.input :address, placeholder: "1234 Street Way, City, State Zip or (latitude/longitude)" %>
    <%= f.input :description, placeholder: "A diner-style eatery serving American breakfast and lunch items." %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>